[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-dtu-nanolab-plugin"]
	path = packages/nomad-dtu-nanolab-plugin
	url = git@github.com:DTU-Nanolab-materials-discovery/nomad-dtu-nanolab-plugin.git
