[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-dtu-nanolab-plugin"]
	path = packages/nomad-dtu-nanolab-plugin
	url = git@github.com:DTU-Nanolab-materials-discovery/nomad-dtu-nanolab-plugin.git
[submodule "packages/nomad-perovskite-solar-cells-database"]
	path = packages/nomad-perovskite-solar-cells-database
	url = git@github.com:FAIRmat-NFDI/nomad-perovskite-solar-cells-database.git
[submodule "packages/nomad-ikz-plugin"]
	path = packages/nomad-ikz-plugin
	url = git@github.com:IKZ-Berlin/nomad-ikz-plugin.git
[submodule "packages/nomad-measurements"]
	path = packages/nomad-measurements
	url = git@github.com:FAIRmat-NFDI/nomad-measurements.git
